<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href=" {{ url_for('static', filename = 'css/style.css') }}">
    {% block header %}

    {% endblock header %}
</head>

<body>
    <nav>
        <div>
            <a class="nav-title" href="/"> <h1><i>CS-1520 Blog Corner</i></h1></a>
            <div class="nav-links">
                <a href="/" class="{% if path=="/" %}active-nav-link{% endif %}">Home</a>
                <a href="/new-blog" class="{% if path=="new-blog" %}active-nav-link{% endif %}">New Blog</a>
            </div>
        </div>
    </nav>


    {% block body %}
        
    {% endblock body %}
</body>

</html>