{% extends 'base.html' %}
{% block header %}
    <title>New Blog</title>
{% endblock header %}

{% block body %}
<h2 class="text-center color-red">Add New Blog</h2>
<form class="container-75" method="POST" action="/new-blog">
        {% if error and error.error %}
        <h4 class="error-msg text-center">{{error.message}}</h4>
        {% endif %}
        <div>
            <label for="title">Blog Title</label>
            <div>
                <input type="text" name="title" placeholder="Blog Title" id="title">
            </div>
        </div>
        <div>
            <label for="body">Blog Body</label>
            <div>
                <textarea name="body" id="body" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div>
            <label for="author">Blog Author</label>
            <div>
                <input type="text" name="author" placeholder="Blog Author" id="author">
            </div>
        </div>
        <div class="text-center margin-10">
            <button type="submit" class="primary-btn">Add Blog</button>
        </div>
    </form>
    
{% endblock body %}